body {
    background-color: #1e1f22;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
    gap: 4rem;
    text-align: center;
}

a {
    font-size: 3rem;
    color: white;
    text-decoration: none;
}

.btn {
    background-color: #5c63f2;
    padding: 1rem 2rem;
    border-radius: 1rem;
}